.container {
    display: grid;

    grid-template-columns: 350px 4fr;

    grid-template-areas:
        'info info'
        'act asp'
        'act map';
}

.infoPlate {
    grid-area: info;
    margin-bottom: 8px;
}

.aspects {
    grid-area: asp;
}

.map {
    grid-area: map;

}

.actions {
    grid-area: act;

    margin-right: 12px;

    background-color: var(--block);
    padding: 12px;

    border-radius: 12px;

    height: calc(90vh + 24px);
    max-height: 920px;
    box-sizing: border-box;

    overflow-y: scroll;
}
