.map {
    display: grid;

    grid-template-columns: 1fr 4fr;

    grid-template-areas:
        'info info'
        'act asp'
        'act map';
}

.infoPlate {
    grid-area: info;
    margin-bottom: 8px;
}

.aspects {
    grid-area: asp;
}

.view {
    grid-area: map;
}

.actions {
    grid-area: act;
    margin-right: 12px;

    background-color: var(--block);
    padding: 12px;

    border-radius: 12px;

    max-height: calc(80vh + 28px);
    box-sizing: border-box;

    overflow-y: scroll;
}
