.list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.aspect {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: var(--block);

    width: 100%;
    height: 28px;
    border: 1px solid var(--border);

    will-change: transform, box-shadow;
    transition: all 100ms ease-out;
}

.aspect.selected {
    background-color: var(--subblock);
}

.aspect:hover {
    transform: scale(1.05);
    z-index: 1000;
    box-shadow: 0 0 3px var(--border);
}

.aspect:first-child {
    border-top-left-radius: 12px;
}
.aspect:last-child {
    border-top-right-radius: 12px;
}
