.page {
    display: flex;
    justify-content: center;

    min-width: 100%;
    min-height: calc(100vh - 80px);
    overflow: hidden;

    background: var(--surface) url('./pattern.png');
    background-size: contain;
    background-attachment: fixed;
}
