.btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btns.reversed {
    justify-content: flex-start;
}

.btn {
    max-width: 250px;
    margin-top: 20px;
}
.classifierGroup {
    display: flex;
    flex-direction: column;
}
.classifierSelect {
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #265178;
    background-color: white;
    outline: none;
    font-size: 1em;
    max-width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input,
.textarea {
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.newClassifierForm {
    margin-top: 12px;
    padding: 8px;
    border: 1px solid var(--border);
}