.plate {
    display: flex;
    justify-content: space-between;

    background: var(--block);
    padding: 12px;
    border-radius: 8px;
}

.settings,
.settings label {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.settings label {
    gap: 4px;
}
.settings label select {
    padding: 10px ;
    border-radius: 8px;
    font-size: 16px;
}
.groupBtns{
    display: flex;
}
.btn{
    min-width: 140px;
    width: fit-content;
    margin-left: 10px;
}