.plate {
    display: flex;
    justify-content: space-between;

    background: var(--block);
    padding: 12px;
    border-radius: 8px;
}

.settings,
.settings label {
    display: flex;
    align-items: center;
    gap: 16px;
}

.settings label {
    gap: 4px;
}
.groupBtns{
    display: flex;
}
.btn{
    width: 140px;
    margin-left: 10px;
}