.map {
    overflow: hidden;
    height: 80vh;
    max-height: 800px;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.container {
    background: var(--block);
    height: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
