.layout {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    box-sizing: border-box;
    padding: 24px;

    @media screen and (max-width: 600px) {
        padding: 24px 12px;

        max-width: 100%;
    }
}
