.title {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input,
.textarea {
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.textarea {
    resize: vertical;
    max-height: 100px;
    height: 40%;
}

.aspectSelect {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #265178;
    background-color: white;
    outline: none;
    font-size: 1em;

    margin-left: 8px;
}

.btns {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
}

.btn {
    max-width: 150px;
}
.classifierGroup{
    display: flex;
    flex-direction: column;
}
.classifierSelect{
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #265178;
    background-color: white;
    outline: none;
    font-size: 1em;
    max-width: 100%;

}
.relationTable {
    margin: 15px  0 15px 0;
    width: 100%;
    border-collapse: collapse;
   border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .relationTable th,
  .relationTable td {
    
    padding: 5px;
    text-align: left;
    border: 1px solid  #f2f2f2;
  }
  
  .relationTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  

  