.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fieldGroup {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input,
.textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.textarea {
    resize: vertical;
    max-height: 100px;
    height: 40%;
}

.btns {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
}

.btn {
    min-width: 150px;
    width: fit-content;
}
